@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@500&family=Open+Sans&display=swap');
* {
  list-style-type: none;
  text-decoration: none !important;
  outline: none;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.containerFull {
  width: 100%;
}

.containerMain {
  width: 1250px;
  margin: 0 auto;
}

.cartProductQuantity button{
  width: 2em !important;
  height: 2em !important;
  padding: 0 !important;
}